<div class="card">
  <header class="card-header">
    <div class="card-header-title">
      <div class="welcome-title__text--small">
        <p>Tempo de sono &times;</p>
        por dia da semana
      </div>
    </div>
    <div class="card-header-icon" aria-label="more options" id="collapseSleep">
      <span class="material-icons">
        expand_more
      </span>
    </div>
  </header>

  <div class="card-content collapse show" id="contentSleep">
    <canvas id="sleepChart" width="400" height="400"></canvas>
    <div class="welcome-title__text--small">
      <p>Nos últimos 7 dias (dias sem registro são desconsiderados)</p>
      <% sleep_time = @json[:sleep_time] - [0] %>
      <%- if sleep_time.size > 0 %>
        <% sleep_time_avg = sleep_time.sum/sleep_time.size %>
        <p>O tempo médio do seu sono foi <%= sleep_time_avg %></p>
        <p>
          A OMS recomenda um tempo de sono entre 7 a 9 horas, seu sono está
          <% if sleep_time_avg > 9 %>
            acima
          <% elsif sleep_time_avg < 7 %>
            abaixo
          <% else %>
            dentro
          <% end %>
          do tempo recomendado.
        </p>
      <%- else %>
        <p>Você não registrou nenhum tempo de sono na última semana.</p>
      <% end %>
    </div>
  </div>
</div>

<script>
  document.getElementById('collapseSleep').addEventListener('click', function() {
    document.getElementById('contentSleep').classList.toggle('show');
  })
</script>