<section>
  <div class="header-spacing-2"></div>
  <div class="welcome-title__text">
    <div class="welcome-title__text--medium">
      Registrar minha noite de sono
    </div>
  </div>

  <%= render 'form', night: @night %>
</section>

<script>

        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);

</script>