<section>
  <div class="header-spacing-2"></div>
  <div class="welcome-title__text">
    <div class="welcome-title__text--medium">
      Registrar meu dia
    </div>
  </div>
  <%= render 'form', day: @day %>
</section>

<script>

    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems);

</script>