@import "titles";

.sessions-page {
  margin: 4rem;

  &__actions {
    text-align: right;
    margin: 2rem 0;
  }

  &__register {
    text-decoration: underline;
    text-align: center;
    font-size: 0.8rem;
  }
}